<h1>TESTING PYTHON CODE</h1>

In [1]:
print('Hello World')

Hello World

<h1>DOWNLOADING NECESSARY LIBRARIES</h1>

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

<h1>IMPORTING LIBRARIES</h1>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h1> IMPORTING DATASET TO DATA FRAME</h1>

In [7]:
#variable _ name / name

In [8]:
birds = pd.read_csv('datasets\\penguins.csv')

In [9]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Checking your DATA FRAME for null values, and data types</h1>

In [10]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [11]:
birds.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False

In [12]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>DESCRIPTIVE ANALYTICS</h1>

In [13]:
birds.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [14]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

<h1> FILTERING DATA BASED FROM COLUMNS </h1>

In [15]:
birds['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [16]:
birds['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

<h1>HOW TO DEFINE/CREATE YOUR OWN COLUMN</h1>

In [17]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 1)

In [18]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [19]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

<h1>WHAT TO DO WITH NULL VALUES</h1>

delete the row

fill the empty cells with a value

In [20]:
birds['body_mass_g'].mean()

np.float64(4201.754385964912)

In [21]:
birds['sex'].mode()

0    male
Name: sex, dtype: object

In [22]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [23]:
birds['body_mass_g'] = birds['body_mass_g'].fillna(birds['body_mass_g'].mean())

In [24]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           0
sex                  11
year                  0
weight                2
dtype: int64

In [25]:
birds['sex'].mode()

0    male
Name: sex, dtype: object

In [26]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [27]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          0
sex                  0
year                 0
weight               2
dtype: int64

In [28]:
birds['bill_depth_mm'] = birds['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())

In [29]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    2
body_mass_g          0
sex                  0
year                 0
weight               2
dtype: int64

In [30]:
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())

In [31]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               2
dtype: int64

<h1>COLUMN DATA TYPES</h1>

In [32]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
 9   weight             342 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 27.0+ KB

In [33]:
birds['year'] = birds['year'].astype('category')

In [34]:
birds['species'] = birds['species'].astype('category')

In [35]:
birds['rowid'] = birds['rowid'].astype('category')

In [36]:
birds['island'] = birds['island'].astype('category')

In [37]:
birds['sex'] = birds['sex'].astype('category')

In [38]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             342 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

<h1>ADDITIONAL</h1>

In [39]:
birds[birds['species'] == "Chinstrap"].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
weight               68
dtype: int64

In [40]:
birds[birds['species'] == "Adelie"].count()

rowid                152
species              152
island               152
bill_length_mm       152
bill_depth_mm        152
flipper_length_mm    152
body_mass_g          152
sex                  152
year                 152
weight               151
dtype: int64

<h1>How many Gentoo Species have weight more than 3kg??</h1>

In [41]:
birds['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [42]:
birds['body_mass_g'] > 3000

0      True
1      True
2      True
3      True
4      True
       ...
339    True
340    True
341    True
342    True
343    True
Name: body_mass_g, Length: 344, dtype: bool

<h1>How many Gentoo Species have weight Less tan 3kg??</h1>

In [43]:
birds['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [44]:
birds['body_mass_g'] < 3000

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: body_mass_g, Length: 344, dtype: bool

<h1>Filtering data based from columns</h1>

In [45]:
birds.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,weight
count,344.000000,344.000000,344.000000,344.000000,342.000000
mean,43.921930,17.151170,200.915205,4201.754386,4.202047
std,5.443643,1.969027,14.020657,799.613058,0.803089
min,32.100000,13.100000,172.000000,2700.000000,2.700000
25%,39.275000,15.600000,190.000000,3550.000000,3.600000
50%,44.250000,17.300000,197.000000,4050.000000,4.000000
75%,48.500000,18.700000,213.000000,4750.000000,4.800000
max,59.600000,21.500000,231.000000,6300.000000,6.300000

<h1>Create New Columns</h1>

In [46]:
birds['weight']=np.round(birds['body_mass_g']

_IncompleteInputError: incomplete input (1023914985.py, line 1)

<h1>CHECKING FOR NULL VALUES</h1>

In [ ]:
birds.isnull()

In [ ]:
(birds['island'] == 'Gentoo')

In [ ]:
birds[(birds['island'] == 'Gentoo')]

In [ ]:
birds['wkilo'] = np.round(birds['body_mass_g'] / 1000,1)

In [ ]:
birds['wkilo'].mean()

<h1>Does Gentoo exclusively live on just one ISLAND</h1>

In [ ]:
gentoo_dream = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Dream')]

In [ ]:
gentoo_torg = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Torgersen')]

In [ ]:
gentoo_biscoe = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Biscoe')]

In [ ]:
gentoo_biscoe

In [ ]:
birds['island'].value_counts()

<h1>Insight No.1</h1>
<h1>Gentoo LIve exclusively on the Biscoe Island</h1>

In [ ]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

In [ ]:
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]

In [ ]:
adelie_torg = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

In [ ]:
adelie_biscoe

In [ ]:
birds['island'].value_counts()

<h1>Insight No.2</h1>
<h1>Adelie </h1>

In [ ]:
chinstrap_torg = birds[(birds['species'] == 'Chinstarp') & (birds['island'] == 'Torgersen')]

In [ ]:
chinstrap_dream = birds[(birds['species'] == 'Chinstarp') & (birds['island'] == 'Dream')]

In [ ]:
chinstrap_biscoe = birds[(birds['species'] == 'Chinstarp') & (birds['island'] == 'Biscoe')]

In [ ]:
chinstrap_biscoe

<h1>Insight No.3</h1>
<h1>Chinstrap</h1>

In [ ]:
adelie_biscoe_w = np.round(adelie_biscoe['wkilo'].mean(), 1)

In [ ]:
adelie_biscoe_w

In [ ]:
adelie_dream_w = np.round(adelie_dream['wkilo'].mean(), 1)

In [ ]:
adelie_dream_w

In [ ]:
adelie_torg_w = np.round(adelie_torg['wkilo'].mean(), 1)

In [ ]:
adelie_torg_w

<h1>Insight No.4</h1>
<h1>The ISland does not impact the weight of the adelie Specie</h1>

In [ ]:
gentoo_biscoe_w = np.round(gentoo_biscoe['wkilo'].mean(), 1)

In [ ]:
gentoo_dream_w = np.round(gentoo_dream['wkilo'].mean(), 1)

In [ ]:
gentoo_torg_w = np.round(gentoo_torg['wkilo'].mean(), 1)

<h1>Insight No.5</h1>

In [ ]:
chinstrap_biscoe_w = np.round(chinstrap_biscoe['wkilo'].mean(), 1)

In [ ]:
chinstrap_dream_w = np.round(chinstrap_dream['wkilo'].mean(), 1)

In [ ]:
chinstrap_torg_w = np.round(chinstrap_torg['wkilo'].mean(), 1)

<h1>Insight No.6</h1>

<h1>Insight No.7</h1>
<h1>Heaviest Species is Gentoo 5.1 kilo</h1>

<h1>AGGREGRATING DATA</h1>

In [ ]:
.groupby()

In [ ]:
birds_island = birds.groupby(['species','island','sex']).size()

In [ ]:
birds_island

<h1>HOW TO USE GROUPBY</h1>

<ol>
    <li>Name the group by reference data frame</li>
    <li>Call tha dataframe</li>
    <li>.groupby() function</li>
    <li>Columns to group</li>
    <li>Group by Function</li>
</ol>

In [ ]:
birds_agg = birds.groupby(['species','island']).size()

In [ ]:
birds_agg

In [ ]:
birds_agg2 = np.round(birds.groupby(['species','island'])['weight'].mean(),1)

In [ ]:
birds_agg2

In [ ]:
birds_agg3 = birds.groupby(['species','island','year','sex']).size()

In [ ]:
birds_agg3.unstack()

<h1>Insight 8</h1>

<h2>Highest record in Adelie male are 2007 and 2009 in Dream Island</h2>

In [ ]:
birds_agg4 = np.round(birds.groupby(['species','sex'])['weight'].mean())

In [ ]:
birds_agg4.unstack()

<h1>Insight 9</h1>
<h2>Ave male Adelie is 4.0</h2>

<h1>Insight 10</h1>
<h2>Ave male Chinstrap is 4.0</h2>

<h1>Insight 11</h1>
<h2>Ave male Gentoo is 5.0</h2>

<h1>Correlation</h1>
<h3>Correlation using Python</h3>

<h1>What is the result of a Correlation</h1>
<h3>What is a P Value</h3>

<h3>Requirements for Correlation</h3>
<ul>
    <li>
        Name the correlation value
    </li>
    <li>
        Call the first column
    </li>
    <li>
        Test correlation using the .corr() function
    </li>
    <li>Call the second column</li>
</ul>

In [ ]:
b_depp_length_cor = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [ ]:
b_depp_length_cor

<h1>Insight 12</h1>
<h2>Bill Length has no Correlation with Bill Depth</h2>

In [50]:
b_depp_length_cor1 = birds['flipper_length_mm'].corr(birds['weight'])

In [51]:
b_depp_length_cor1

np.float64(0.8706550442461823)

<h1>Insight 13</h1>
<h1>Flipper Length has no Correlation with Body Mass</h1>

In [47]:
b_depp_length_cor2 = birds['bill_length_mm'].corr(birds['weight'])

In [48]:
b_depp_length_cor2

np.float64(0.5931909179206184)

<h1>Insight 14</h1>
<h1>Bill Length has no Correlation with Body Mass</h1>

In [ ]:
b_depp_length_cor3 = birds['bill_length_mm'].corr(birds['flipper_length_mm'])

In [ ]:
b_depp_length_cor3

<h1>Insight 15</h1>
<h1>Bill Length has no correlation with Flipper Length</h1>

In [52]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             342 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

<h1>Correlation Between Qualitative and Quantitative</h1>

<h3>Sex and Body Mass</h3>

<h2>Library for ONE WAY ANNOVA -- SCIENCE PYTHON ( scipy )</h2>

In [53]:
pip install scipy

Requirement already satisfied: scipy in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc31\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
from scipy.stats import f_oneway

<h2>requirements for one way annova</h2>
<h3>Filter columns and its data</h3>

In [62]:
birds[birds['sex'] == 'female']['body_mass_g']

f_stats, p_value = f_oneway(birds[birds['sex'] == 'male']['body_mass_g'],
        birds[birds['sex'] == 'female']['body_mass_g'])
print(p_value)

3.0226600487050246e-15

<h1>Insight 16</h1>
<h3>There is a correlation between sex and body mass</h3>